  // 处理年份
  function nian(value) {
    return value > 365 ? parseInt(value / 365) + "年" + (value % 365 + "天") : value + "天"
  }

  function renshu(value) {
    return value > 10000 ? parseInt(value / 10000) + "万" : value
  }
  // 处理发布时间
  function cjian(value) {
    var dat = getDate(value)
    var date = getDate()
    var mou = dat.getMinutes()<10?"0"+dat.getMinutes():dat.getMinutes()
    var hur = dat.getHours()<10?"0"+dat.getHours():dat.getHours()
    switch (date.getDate() - dat.getDate()) {
      case 0:
        return hur+":"+mou
        break
      case 1:
        return "昨天"+ hur+":"+mou
        break
      case 2:
        return "前天"+ hur+":"+mou
        break
      default:
        return dat.getFullYear()+"-"+(dat.getMonth()+1)+"-"+dat.getDate()+" "+hur+":"+mou
    }

  }

  function maxpin(value) {
    return value > 999 ? "999+" : value
  }

  function include(data, value) {
    return data.includes(value)
  }
  module.exports.nian = nian
  module.exports.renshu = renshu
  module.exports.include = include
  module.exports.maxpin = maxpin
  module.exports.cjian = cjian